body {
    background-image: url(bg.jpg);
    font-family: 'Mitr', sans-serif;
}

.container {
    text-align: center;
    font-family: 'Mitr', sans-serif;

}

.box {
    padding: 10px;
}

#header{
    border-bottom: 1px solid black;
    background-color: rgb(240,240,240);
}

#body {
    padding: 20px;
    border-bottom: 1px solid black;
}


#footer {
    background-color: rgb(240,240,240);
}